{% extends "base.html" %}
{% load filtri wikipedia %}
{% block title %}La mia libreria{% endblock %}
{% block content %}

<h1><a href="/libri/">La mia libreria</a></h1>
{% if genere %}
    <h2>Genere: {{ genere }}</h2>
{% endif %}
{% if autore %}
    <h2>Autore: {{ autore }}</h2>
{% endif %}
<dl>
{% for libro in libri %}
    <dt><a href="{% url 'libri_libro' pk=libro.pk %}"><strong>"{{ libro.titolo }}"</strong></a>
    {% if user.is_staff %}
        <a href="{% url 'admin:libreria_libro_change' libro.pk %}">[E]</a>
    {% endif %}
    </dt>
    <dd><em><a href="{% url 'libri_autore' pk=libro.autore.id %}"> {{ libro.autore|bibliografico }}</a></em>
        - <a href="{% url 'libri_genere' pk=libro.genere.id %}">{{ libro.genere }}</a></dd>
    <dd><small>acquistato nel {{ libro.data_acquisto|date:"F \d\e\l Y"}}</small></dd>
    <dd><ul>
        {% get_wikipedia_info for libro as pagine_wiki %}
        {% for pagina in pagine_wiki %}
            <li><a href="{{ pagina.url }}">{{ pagina.title }}</a></li>
        {% endfor %}
    </ul></dd>
{% endfor %}
</dl>
{% include "libreria/storia.html" %}
{% endblock content %}