{% if libri %}
    <ul>
        {% for libro in libri %}
            <dt><strong>"{{ libro.titolo }}"</strong></dt>
            <dd>
                <em><a href="{% url 'libri_autore' pk=libro.autore.id %}">{{ libro.autore }}</a></em>
                - <a href="{% url 'libri_genere' pk=libro.genere.id %}">{{ libro.genere }}</a>
            </dd>
            <dd>
                <small>
                    acquistato nel {{ libro.data_acquisto|date:"F \d\e\l Y" }}
                </small>
            </dd>
        {% endfor %}
    </ul>
{% else %}
    <p>Nessun risultato trovato.</p>
{% endif %}